name: Azure Static Web Apps CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          action: upload
          app_location: /
          api_location: ""
          output_location: ""
          skip_app_build: true
          skip_api_build: true
